///////////////////////////////////////////////////////////////////////
////                 DEFINES
///////////////////////////////////////////////////////////////////////
#define MQTT_HOST <MOSQUITTO SERVER IP>
#define MQTT_PORT 1883
#define MQTT_TOKEN <YOUR TOKEN>
#define LED_BRIGHT 128
#define WIFI_SSID <YOUR WIFI>
#define WIFI_PASSWD <YOUR PASSWORD>
#define NUM_PINS 3
///////////////////////////////////////////////////////////////////////
////                 DEFINES
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
////                 VARIABLES
///////////////////////////////////////////////////////////////////////
int PINES[] = {D5,D6,D7}; //PINs connected to RGB STRIP OR RELAY OR EÑ WIRE ....
int LEVELS[NUM_PINS][2] = {{1,3},{4,6},{7,9}}; //LEVELs FOR EACH PIN
///////////////////////////////////////////////////////////////////////
////                 VARIABLES
///////////////////////////////////////////////////////////////////////