///////////////////////////////////////////////////////////////////////
////                 DEFINES
///////////////////////////////////////////////////////////////////////
#define NUM_LEDS <NUM OF LEDS IN PANEL>
#define PIN D1
#define COLOR_ORDER RGB
#define MQTT_HOST <MOSQUITTO SERVER IP>
#define MQTT_PORT 1883
#define MQTT_TOKEN <YOUR TOKEN>
#define ssid = <YOUR WIFI>;
#define password = <YOUR PASSWORD>
///////////////////////////////////////////////////////////////////////
////                 DEFINES
///////////////////////////////////////////////////////////////////////